
body {
background-color: antiquewhite;
} 
/* Mobile */
@media screen and (max-width:600px) {body { background-color:wheat; }
}



/* Estilização das fontes*/
.titulo {
width: 100%;
    color: burlywood;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 5px black  ;    
}

.titulo2 {
 width:100%;
    justify-content: center;
    text-align: center;
color: brown;
 text-shadow: 2px 2px 5px  maroon ;    
}
/* Componente de icon*/
.icon {
 border: none;
    display: inline-block;
    font-size: 16px;
      transition-duration: 0.4s;
  cursor: pointer;
  clip-path: circle(35%);
   width: 84px;
 height: 84px;   
}
.botãos {
 width:100%;
justify-content: center;
 text-align: center;
margin-top: 100px;  
}

.cadastro {
 border: none;
    padding: 9px 9px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size:16spx;
    margin:4px 2px;
      transition-duration: 0.4s;
  cursor: pointer;
  background-color: brown;
  border-radius: 15px;
  color: yellow
}
.entrar {
  border: none;
    padding: 8px 8px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:4px 2px;
      transition-duration: 0.4s;
  cursor: pointer;   
  background-color:brown;
  border-radius: 15px;
  color:yellow
}

.menu {
    display: flex;
    height: 60px;
}
